<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<title>WM403.com</title>

<body>
    <header>

        <ul>
            <div class="topnav">
                <a class="name"> ECEN 403 Weather Monitoring</a>

                <a class="nav-links" class="active" href="/"> Home</a>
                <a class="nav-links" href="/Book.html">Services</a>

                <a class="nav-links" href="/tables/index.html">Database</a>

            </div>

        </ul>
    </header>

    <intro>Introducing ECEN 403 Weather Monitoring Group 58 Project
        <div id="intro_sub">Always striving to be better</div>

    </intro>

    <div id="aboutus">
        <dome></dome>
        <about>
            <div id="tabout">Executive Summary</div>

            <div id="parabout">Most plants require water, sunlight, and soil in order to grow. The soil requirement often limits what plants can grow in specific environments. Hydroponic plants circumvent this issue by only requiring water and sunlight, where the nutrients that were usually provided by the soil instead come from the water.
            To make an automated hydroponic plant farm, sensors would be placed in the hydroponic greenhouses to measure the weather conditions and the nutrients in the plants. Those measurements are then stored in a database, where it is analyzed by a machine learning program. If unideal values are found, the program sends commands to actuators in the greenhouse to regulate the weather conditions.
            Our view is that the system could be used in multiple scenarios, in a public/consumer level, for space research and exploration and most importantly in greenhouses around the world. We believe that automating the system improves the current hydrophobic technology and with only minor limitations the system can be viable.
             </div>
        </about>
    </div>
    <div id="main">
        <div id="main2">
            <div id="card1" class="card">
                <img id = "database" >
                <div class="text">
                    <h3>Database information</h3>
                    <p>Here you can see all data that has been obtained so far.</p>

                    <button class="cardButton">Click here to begin</button>
                </div>
            </div>
            <div class="card" >
                <img  id ="functions" >
                <div class="text">
                    <h3> System Functions </h3>
                    <p> Here you will be able to send commands to the system itself.</p>

                    <button id="shopButton" class="cardButton">Click here to begin</button>

                </div>
            </div>
            <div class="card">
                <img id = "systemlogs">
                <div class="text">
                    <h3> System Logs</h3>
                    <p>Here you will be able to see any activity going on throughout the system.</p>
                    <button class="cardButton">Click here to begin</button>
                </div>
            </div>
        </div>
    </div>
    <reviews id="reviews">
        <review class="people">
            <h4> Check out our other locations</h4>
        </review>
        <review id="comments">

            <div id="container">
                <div id="row">
                    <div class="cards">
                        <img src="avatar.png" width="50%" height="50%">
                        <p class="card-text">Caldwell , Texas
                        </p>
                    </div>
                    <div class="cards">
                        <img src="avatar.png" width="50%" height="50%">
                        <p class="card-text">To Be Determinded ................................................</p>
                    </div>
                    <div class="cards">
                        <img src="avatar.png" width="50%" height="50%">
                        <p class="card-text">To Be Determinded ................................................</p>
                    </div>
                    <div class="cards">
                        <img src="avatar.png" width="50%" height="50%">
                        <p class="card-text">To Be Determinded ................................................</p>
                    </div>

                </div>
            </div>

            </div>
        </review>
    </reviews>
    <contact>
        <form>
            <ul class="wrapper">
                <li class="form-row">
                    <label for="name">Name</label>
                    <input type="text" id="name">
                </li>
                <li class="form-row">
                    <label for="email">Email Address</label>
                    <input type="email" id="email">
                </li>
                <li class="form-row">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject">
                </li>
                <li class="form-row">

                    <label for="message">Message</label>
                    <input type="message" id="message">


                </li>
                <li class="form-row">
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </contact>

    <footer>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <div id="copyr">
            <h1> ©2020 by Group 58.</h1>
        </div>
    </footer>
</body>

</html>
