
<div class="Reimbursement index">
  <h2>Reimbursement Requests</h2>
<div style="margin-top: 15px"></div>
  <table class="table table-bordered table-hover" id="reimbursementTable" style="min-width: 20x">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each do |reimbursement| %>
      <tr>
        .column 'temperature', :real
        t.column 'pressure', :real
        t.column 'humidity', :real
        t.column 'tds', :real
        t.column 'ph', :real
        <td><%= reimbursement.temperature %></td>
        <td><%= reimbursement.pressure %></td>
        <td><%= reimbursement.humidity %></td>
  
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
